<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBacnVbcII1pGYnN3hZznNcIUs0EHvAzHY</string>
	<key>GCM_SENDER_ID</key>
	<string>462300643472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.insomnic.rentalRating.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rental-rating-eb959</string>
	<key>STORAGE_BUCKET</key>
	<string>rental-rating-eb959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462300643472:ios:86476036b1fa847fed5815</string>
</dict>
</plist>